.textoIntroduccion {
    font-size: 1.1rem;
    color: #475569;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.roww{
    padding-top: 10px;
}


.fotoDecoracion {
  width: 500px !important;
  height: auto !important;

}

.fotoDecoracion:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .textoIntroduccion {
        font-size: 1rem;
        padding: 1rem;
    }
}