.text-center, .text-muted {
    text-align: center;
    font-size: 1rem;
    color: #334155;
    padding: 20px;
    background-color: #e2e8f0;
    border-radius: 0.5rem;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    background-color: #1ebe5d;
    color: #fff;
}

@media (max-width: 768px) {
    footer p {
        font-size: 0.9rem;
    }

    .whatsapp-float {
        width: 50px;
        height: 50px;
        font-size: 1.8rem;
    }
}